<h3>Enter Trip Information</h3>
  <form action="/addlist" method="post">

    <input type="text" placeholder="Destination" name="destination"/>

    <input type="text" placeholder="image URL" name="image" /><br>
<!--   <input type="text" placeholder="departure date" name="departureDate"/>

  <input type="text" placeholder="return date" name="returnDate"/><br>-->


    <input type="submit"/>
  </form>
